@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

/* colors in css variables */
:root {
    --primary-color: #4f419a;
    --secondary-color: #6b7280;
    --accent-color: #ec008c;
    --background-color-white: #f9fafb;
    --background-color-black: #001622;
    --text-color: #1f2937;
}

.btn-primary {
    background-color: var(--primary-color) !important;
}
.btn-outline-primary {
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.hind-siliguri-light {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hind-siliguri-regular {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hind-siliguri-medium {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hind-siliguri-semibold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hind-siliguri-bold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.brand-logo {
    width: 80px;
    height: auto;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
}

.container,
.container-fluid,
.container-lg,
.container-sm {
    padding: 1rem !important;
}

.col {
    padding: 0 !important;
}

.custom-section {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

/* home page */
.home-hero-section-inner-container {
    display: none;
}

@media (min-width: 768px) {
    .home-hero-section-inner-container {
        background-image: url("./assets/sir-one.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.home-hero-from {
    width: 100% !important;
}

@media (min-width: 768px) {
    .home-hero-from {
        width: 400px;
        max-width: 400px;
    }
}

h1 {
    font-size: clamp(1rem, 3rem, 4rem) !important;
}

/* slides */
.swiper {
    width: 100%;
    /* min-height: 400px; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background-color: gray !important;
}

.swiper-pagination-bullet {
    opacity: 70% !important;
}

.swiper-pagination-bullet-active {
    transition: 0.3s ease-in-out;
    width: 2rem !important;
    border-radius: 4px !important;
    opacity: 100% !important;
}

.course-mini-card {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    transition: 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 8px lightgray;

        a {
            color: var(--primary-color) !important;
        }
    }
}

.home-about {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2rem;
}

.home-about > div {
    width: 100%;
}

@media (max-width: 1200px) {
    .home-about {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 768px) {
    .home-about {
        grid-template-columns: 100%;
    }
}


/* online courses carousel */
