<section class="py-5">
    <div class="home-about container mx-auto">
      <div class="position-relative overflow-hidden">
        <img
          src="./assets/director.png"
          alt="Director"
          class="object-fit"
          style="height: 340px"
        />
        <h3
          class="position-absolute bottom-0 rounded p-3 fw-bolder"
          style="
            background: var(--primary-color);
            color: white;
            width: 240px;
          "
        >
          25+ Experience
        </h3>
      </div>
      <div>
        <p
          class="p-2"
          style="
            background: var(--accent-color);
            color: white;
            width: 100px;
            border-radius: 20px;
            text-align: center;
          "
        >
          About Us
        </p>
        <h2>আমাদের সম্পর্কে</h2>
        <p>
          "একজন সিনিয়র প্রকৌশলী হিসাবে আমি বিশেষভাবে FM Method-এর সিস্টেম
          ডিজাইন বিষয়বস্তু এবং লাইভ ক্লাস পর্যালোচনা করেছি এবং আমি
          তাত্ত্বিক ধারণার পরিবর্তে এটি বাস্তবায়নের দিকে আরও বেশি পেয়েছি
          যা প্রতিষ্ঠানের বাস্তব-সময়ের পরিবেশে কাজ করতে সহায়তা করে।
          সিস্টেম ডিজাইনে দক্ষতা অর্জনের জন্য আমি FM Method কোর্সের সুপারিশ
          করব"
        </p>
        <button class="btn btn-primary">আরো জানুন</button>
      </div>
      <div>
        <h4
          style="
            border-bottom: 2px solid black;
            padding-bottom: 4px;
            display: inline-block;
          "
        >
          কোর্স বিভাগ
        </h4>
        <div class="d-flex flex-wrap gap-2 pt-2">
          <div class="course-mini-card">
            <i
              data-lucide="file-badge"
              style="width: 36px; height: 36px; stroke-width: 1px"
            ></i>
            <h5>Basic</h5>
            <a href="#" class="d-flex gap-1 text-decoration-none text-black"
              >আরো দেখুন
              <i
                data-lucide="arrow-right-circle"
                style="fill: var(--primary-color); stroke: white"
              ></i
            ></a>
          </div>
          <div class="course-mini-card">
            <i
              data-lucide="file-badge"
              style="width: 36px; height: 36px; stroke-width: 1px"
            ></i>
            <h5>Basic</h5>
            <a href="#" class="d-flex gap-1 text-decoration-none text-black"
              >আরো দেখুন
              <i
                data-lucide="arrow-right-circle"
                style="fill: var(--primary-color); stroke: white"
              ></i
            ></a>
          </div>
          <div class="course-mini-card">
            <i
              data-lucide="file-badge"
              style="width: 36px; height: 36px; stroke-width: 1px"
            ></i>
            <h5>Basic</h5>
            <a href="#" class="d-flex gap-1 text-decoration-none text-black"
              >আরো দেখুন
              <i
                data-lucide="arrow-right-circle"
                style="fill: var(--primary-color); stroke: white"
              ></i
            ></a>
          </div>
          <div class="course-mini-card">
            <i
              data-lucide="file-badge"
              style="width: 36px; height: 36px; stroke-width: 1px"
            ></i>
            <h5>Basic</h5>
            <a href="#" class="d-flex gap-1 text-decoration-none text-black"
              >আরো দেখুন
              <i
                data-lucide="arrow-right-circle"
                style="fill: var(--primary-color); stroke: white"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>