<section
  class="home-course-section pb-5"
  style="background: var(--background-color-black)"
>
  <div class="container text-white">
    <p>
      পুরো মাস জুড়ে FM Method নির্দিষ্ট কোর্সসমূহ পেয়ে যান বিশেষ মূল্যে। এবার
      শেখার শুরু হোক FM Method সাথে!
    </p>
    <h2 class="fw-bolder">স্কিল ডেভেলপমেন্টের নির্দিষ্ট কোর্সে দারুণ ছাড়!</h2>
  </div>
  <div class="swiper courses container pb-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <h4
            class="position-absolute bottom-0 start-0 w-100 py-2 fw-medium text-white text-center"
          >
            <span class="fw-bold">Basic</span> English
          </h4>
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="object-fit: cover; height: 100%; width: 100%"
            class="rounded"
          />
        </div>
        <div class="p-4 text-center">
          <button class="btn btn-primary">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <h4
            class="position-absolute bottom-0 start-0 w-100 py-2 fw-medium text-white text-center"
          >
            <span class="fw-bold">Basic</span> English
          </h4>
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="object-fit: cover; height: 100%; width: 100%"
            class="rounded"
          />
        </div>
        <div class="p-4 text-center">
          <button class="btn btn-primary">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <h4
            class="position-absolute bottom-0 start-0 w-100 py-2 fw-medium text-white text-center"
          >
            <span class="fw-bold">Basic</span> English
          </h4>
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="object-fit: cover; height: 100%; width: 100%"
            class="rounded"
          />
        </div>
        <div class="p-4 text-center">
          <button class="btn btn-primary">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <h4
            class="position-absolute bottom-0 start-0 w-100 py-2 fw-medium text-white text-center"
          >
            <span class="fw-bold">Basic</span> English
          </h4>
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="object-fit: cover; height: 100%; width: 100%"
            class="rounded"
          />
        </div>
        <div class="p-4 text-center">
          <button class="btn btn-primary">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <h4
            class="position-absolute bottom-0 start-0 w-100 py-2 fw-medium text-white text-center"
          >
            <span class="fw-bold">Basic</span> English
          </h4>
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="object-fit: cover; height: 100%; width: 100%"
            class="rounded"
          />
        </div>
        <div class="p-4 text-center">
          <button class="btn btn-primary">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <h4
            class="position-absolute bottom-0 start-0 w-100 py-2 fw-medium text-white text-center"
          >
            <span class="fw-bold">Basic</span> English
          </h4>
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="object-fit: cover; height: 100%; width: 100%"
            class="rounded"
          />
        </div>
        <div class="p-4 text-center">
          <button class="btn btn-primary">অংশগ্রহণ করুন</button>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-courses"></div>
  </div>
</section>
