<section
        class="home-hero-section pt-5"
        style="background: var(--background-color-black)"
      >
        <div
          class="container mx-auto d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-start justify-content-md-between custom-section home-hero-section-inner-container"
        >
          <div class="w-100 my-auto text-white">
            <p>বিশেষীকরণ</p>
            <h1 class="fw-bold">
              ইংলিশ কোর্সে <br />
              অনলাইন ব্যাচে ভর্তি চলছে!
            </h1>
            <p>
              বছর জুড়ে অভিজ্ঞ শিক্ষকদের সাথে সম্পূর্ণ সিলেবাসের 💯 তে 💯
              প্রস্তুতি!
            </p>
            <h5 class="py-4">লাইভ ইন্টারেক্টিভ ক্লাস</h5>
            <button class="btn btn-primary">
              অনলাইন ব্যাচ সম্পর্কে আরও জানুন
            </button>
          </div>
          <div class="w-100 pb-0 pt-5 pb-md-5 d-flex justify-content-end">
            <form
              class="d-flex flex-column bg-white gap-4 p-3 p-md-5 rounded home-hero-from"
            >
              <div>
                <h3 class="fw-bolder">রেজিস্ট্রেশন করুন</h3>
                <p class="text-gray">ফর্মটি পূরণ করুন রেজিস্ট্রেশন করতে</p>
              </div>
              <input
                type="text"
                class="form-control"
                id="fullName"
                aria-describedby="emailHelp"
                placeholder="সম্পূর্ণ নাম"
              />
              <input
                type="email"
                class="form-control"
                id="emailAddress"
                aria-describedby="emailHelp"
                placeholder="ইমেইল এড্রেস "
              />
              <input
                type="text"
                class="form-control"
                id="phoneNumber"
                placeholder="ফোন নম্বর"
              />
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="পাসওয়ার্ড"
              />
              <button type="submit" class="btn btn-primary">রেজিস্টার</button>
            </form>
          </div>
        </div>
      </section>