<section class="container py-5">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>চাকরি - টার্গেট যেটাই হোক, সলিউশন এখানেই!</p>
      <h2 class="fw-bolder">NEW ENGLISH COURSES</h2>
    </div>
    <div class="swiper new-courses container py-5">
      <div class="swiper-wrapper">
        <div class="swiper-slide border">
          <div
            style="height: 200px; max-height: 200px; overflow: hidden"
          >
            <img
              src="./assets/english-course-one.png"
              alt=""
              style="
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 10px 10px 0 0;
              "
              class="p-1"
            />
          </div>
          <div class="p-2">
            <div class="w-100">
              <h4>প্রফেশনাল কোর্স</h4>
              <p>এক্সপার্টের সাথে ইংরেজী শিখন</p>
            </div>
            <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
          </div>
        </div>
        <div class="swiper-slide border">
          <div
            style="height: 200px; max-height: 200px; overflow: hidden"
          >
            <img
              src="./assets/job-one.png"
              alt=""
              style="
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 10px 10px 0 0;
              "
              class="p-1"
            />
          </div>
          <div class="p-2">
            <div class="w-100">
              <h4>প্রফেশনাল কোর্স</h4>
              <p>এক্সপার্টের সাথে ইংরেজী শিখন</p>
            </div>
            <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
          </div>
        </div>
        <div class="swiper-slide border">
          <div
            style="height: 200px; max-height: 200px; overflow: hidden"
          >
            <img
              src="./assets/job-two.png"
              alt=""
              style="
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 10px 10px 0 0;
              "
              class="p-1"
            />
          </div>
          <div class="p-2">
            <div class="w-100">
              <h4>প্রফেশনাল কোর্স</h4>
              <p>এক্সপার্টের সাথে ইংরেজী শিখন</p>
            </div>
            <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
          </div>
        </div>
        <div class="swiper-slide border">
          <div
            style="height: 200px; max-height: 200px; overflow: hidden"
          >
            <img
              src="./assets/medical-admission.png"
              alt=""
              style="
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 10px 10px 0 0;
              "
              class="p-1"
            />
          </div>
          <div class="p-2">
            <div class="w-100">
              <h4>প্রফেশনাল কোর্স</h4>
              <p>এক্সপার্টের সাথে ইংরেজী শিখন</p>
            </div>
            <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
          </div>
        </div>
        <div class="swiper-slide border">
          <div
            style="height: 200px; max-height: 200px; overflow: hidden"
          >
            <img
              src="./assets/medical-admission.png"
              alt=""
              style="
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 10px 10px 0 0;
              "
              class="p-1"
            />
          </div>
          <div class="p-2">
            <div class="w-100">
              <h4>প্রফেশনাল কোর্স</h4>
              <p>এক্সপার্টের সাথে ইংরেজী শিখন</p>
            </div>
            <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
          </div>
        </div>
        <div class="swiper-slide border">
          <div
            style="height: 200px; max-height: 200px; overflow: hidden"
          >
            <img
              src="./assets/medical-admission.png"
              alt=""
              style="
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 10px 10px 0 0;
              "
              class="p-1"
            />
          </div>
          <div class="p-2">
            <div class="w-100">
              <h4>প্রফেশনাল কোর্স</h4>
              <p>এক্সপার্টের সাথে ইংরেজী শিখন</p>
            </div>
            <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
          </div>
        </div>
        <div class="swiper-slide border">
          <div
            style="height: 200px; max-height: 200px; overflow: hidden"
          >
            <img
              src="./assets/medical-admission.png"
              alt=""
              style="
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 10px 10px 0 0;
              "
              class="p-1"
            />
          </div>
          <div class="p-2">
            <div class="w-100">
              <h4>প্রফেশনাল কোর্স</h4>
              <p>এক্সপার্টের সাথে ইংরেজী শিখন</p>
            </div>
            <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-new-courses"></div>
    </div>
  </section>
  