<section class="container py-5 online-courses" >
  <div class="d-flex flex-wrap justify-content-between gap-5">
    <h2 class="fw-bolder">অনলাইন কোর্সসমূহ</h2>
    <ul
      class="d-flex flex-wrap justify-content-end align-items-center gap-3 list-unstyled"
    >
      <li class="active fw-semibold">সকল</li>
      <li>বেসিক</li>
      <li>ইন্টারমেডিয়েট</li>
      <li>এডভান্সড</li>
      <li>IELTS</li>
    </ul>
  </div>
  <div class="swiper online-course-one container py-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white; fill: #fd1d1d"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-online-courses"></div>
  </div>
  <div class="swiper online-course-two container py-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
      <div class="swiper-slide border">
        <div
          class="position-relative"
          style="height: 240px; max-height: 240px; overflow: hidden"
        >
          <div
            class="position-absolute top-0 end-0 p-2 fw-medium text-white w-5 h-5"
          >
            <i data-lucide="heart" style="stroke: white"></i>
          </div>
          <img
            src="./assets/students.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="p-2">
          <div class="w-100">
            <h4>ইংলিশ ল্যাংগুয়েজ কোর্স</h4>
            <p>Learn English as expert level</p>
          </div>

          <div class="d-flex align-items-center justify-content-between gap-5">
            <p class="my-auto fw-medium text-gray">Price: 3000Tk</p>
            <div class="d-flex align-items-center justify-content-end gap-1">
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
              <i
                data-lucide="star"
                style="
                  stroke: var(--primary-color);
                  fill: var(--primary-color);
                  width: 16px;
                  height: 16px;
                "
              ></i>
            </div>
          </div>
          <button class="btn btn-primary mt-3">অংশগ্রহণ করুন</button>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-online-courses-two"></div>
  </div>
</section>
