<section class="container py-5">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h2 class="fw-bolder">কেন আমরাই শিক্ষার্থী ও অভিভাবকগণের প্রথম পছন্দ?</h2>
  </div>
  <div class="swiper testimonial container py-5">
    <div class="swiper-wrapper">
      <div class="swiper-slide shadow p-4">
        <div
          class="position-relative border"
          style="
            height: 4rem;
            width: 4rem;
            overflow: hidden;
            border-radius: 100%;
          "
        >
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="w-100 pt-3">
          <h4>ফুলান ইবনে ফুলান</h4>
          <p>সফটওয়্যার ইঞ্জিনিয়ার</p>
          <p style="color: gray">
            নিয়মিত লাইভ ক্লাস ছাড়াও, আমি একজন পরামর্শদাতার সাথে নিয়োগ করা
            হয়েছিল মাইক্রোসফট থেকে কেউ এবং তিনি আমাকে খুব ভালোভাবে গাইড করেছে
            কোর্স
          </p>
        </div>
      </div>
      <div class="swiper-slide shadow p-4">
        <div
          class="position-relative border"
          style="
            height: 4rem;
            width: 4rem;
            overflow: hidden;
            border-radius: 100%;
          "
        >
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="w-100 pt-3">
          <h4>ফুলান ইবনে ফুলান</h4>
          <p>সফটওয়্যার ইঞ্জিনিয়ার</p>
          <p style="color: gray">
            নিয়মিত লাইভ ক্লাস ছাড়াও, আমি একজন পরামর্শদাতার সাথে নিয়োগ করা
            হয়েছিল মাইক্রোসফট থেকে কেউ এবং তিনি আমাকে খুব ভালোভাবে গাইড করেছে
            কোর্স
          </p>
        </div>
      </div>
      <div class="swiper-slide shadow p-4">
        <div
          class="position-relative border"
          style="
            height: 4rem;
            width: 4rem;
            overflow: hidden;
            border-radius: 100%;
          "
        >
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="w-100 pt-3">
          <h4>ফুলান ইবনে ফুলান</h4>
          <p>সফটওয়্যার ইঞ্জিনিয়ার</p>
          <p style="color: gray">
            নিয়মিত লাইভ ক্লাস ছাড়াও, আমি একজন পরামর্শদাতার সাথে নিয়োগ করা
            হয়েছিল মাইক্রোসফট থেকে কেউ এবং তিনি আমাকে খুব ভালোভাবে গাইড করেছে
            কোর্স
          </p>
        </div>
      </div>
      <div class="swiper-slide shadow p-4">
        <div
          class="position-relative border"
          style="
            height: 4rem;
            width: 4rem;
            overflow: hidden;
            border-radius: 100%;
          "
        >
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="w-100 pt-3">
          <h4>ফুলান ইবনে ফুলান</h4>
          <p>সফটওয়্যার ইঞ্জিনিয়ার</p>
          <p style="color: gray">
            নিয়মিত লাইভ ক্লাস ছাড়াও, আমি একজন পরামর্শদাতার সাথে নিয়োগ করা
            হয়েছিল মাইক্রোসফট থেকে কেউ এবং তিনি আমাকে খুব ভালোভাবে গাইড করেছে
            কোর্স
          </p>
        </div>
      </div>
      <div class="swiper-slide shadow p-4">
        <div
          class="position-relative border"
          style="
            height: 4rem;
            width: 4rem;
            overflow: hidden;
            border-radius: 100%;
          "
        >
          <img
            src="./assets/student-male.jpg"
            alt=""
            style="
              object-fit: cover;
              height: 100%;
              width: 100%;
              border-radius: 10px 10px 0 0;
            "
            class="p-1"
          />
        </div>
        <div class="w-100 pt-3">
          <h4>ফুলান ইবনে ফুলান</h4>
          <p>সফটওয়্যার ইঞ্জিনিয়ার</p>
          <p style="color: gray">
            নিয়মিত লাইভ ক্লাস ছাড়াও, আমি একজন পরামর্শদাতার সাথে নিয়োগ করা
            হয়েছিল মাইক্রোসফট থেকে কেউ এবং তিনি আমাকে খুব ভালোভাবে গাইড করেছে
            কোর্স
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-testimonial"></div>
  </div>
</section>
