<div class="container py-5 footer">
  <div class="row">
    <!-- Logo and Social Media -->
    <div class="col-md-4">
      <h4 class="d-flex gap-4 align-items-center fw-bold">
        <img src="./assets/logo.png" alt="Brand Logo" class="brand-logo" /> FM
        Method
      </h4>
      <p class="pt-4">
        ডাউনলোড করুন আমাদের মোবাইল অ্যাপ, দেখুন শুরু করুন আজ থেকেই। ডাউনলোড করুন
        আমাদের মোবাইল অ্যাপ, দেখুন শুরু করুন আজ থেকেই
      </p>
      <div class="d-flex align-items-center gap-2">
        <a
          href="#"
          class="p-2 rounded"
          style="background: var(--primary-color)"
        >
          <i data-lucide="facebook" style="stroke: white;"></i>
        </a>
        <a
          href="#"
          class="p-2 rounded"
          style="background: var(--primary-color)"
        >
          <i data-lucide="linkedin" style="stroke: white;"></i>
        </a>
        <a
          href="#"
          class="p-2 rounded"
          style="background: var(--primary-color)"
        >
          <i data-lucide="twitter" style="stroke: white;"></i>
        </a>
      </div>
    </div>

    <!-- Company Links -->
    <div class="col-md-2">
      <h5>কোম্পানি</h5>
      <ul class="list-unstyled d-flex flex-column gap-2">
        <li><a href="#" class="text-dark">ফাউন্ডার / নিয়োগ বিজ্ঞপ্তি</a></li>
        <li><a href="#" class="text-dark">শিক্ষক নিয়োগ যোগ দিন</a></li>
        <li><a href="#" class="text-dark">প্রাইভেসি পলিসি</a></li>
        <li><a href="#" class="text-dark">ফ্রিকোয়েন্টলি আসকড কুইশ্চেনস</a></li>
        <li><a href="#" class="text-dark">অ্যাফিলিয়েট হিসেবে যোগ দিন</a></li>
        <li><a href="#" class="text-dark">ব্যবসায়িকদের শর্তাবলী</a></li>
      </ul>
    </div>

    <!-- Other Links -->
    <div class="col-md-2">
      <h5>অন্যান্য</h5>
      <ul class="list-unstyled d-flex flex-column gap-2">
        <li><a href="#" class="text-dark">ব্লগ পোস্ট</a></li>
        <li><a href="#" class="text-dark">চাকরির প্রোফাইলে যোগদিন</a></li>
        <li><a href="#" class="text-dark">সার্টিফিকেট ভেরিফাই করুন</a></li>
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="col-md-4">
      <h5>আমাদের যোগাযোগ মাধ্যম</h5>
      <p class="hind-siliguri-light">ঠিকানা: ঢাকা ১২৩০</p>
      <p>ফোন: +8801700000000</p>
      <p>ইমেইল: sfmmethod@gmail.com</p>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="text-center pt-4">
    <p class="mb-0 hind-siliguri-light">
      &copy; ২০১৫ - ২০২৩ FM Method কর্তৃক সর্বস্বত্ব সংরক্ষিত | RubyTech
    </p>
  </div>
</div>
