<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img src="./assets/logo.png" alt="Brand Logo" class="brand-logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse gap-5"
        id="navbarSupportedContent"
      >
        <!-- search field -->
        <!-- <form class="d-flex align-items-center">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-primary" type="submit">
            খুজুন
          </button>
        </form> -->
        <!-- nav menu -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/cover.html"
              >প্রচ্ছদ</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="true"
            >
              কোর্স
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              ইভেন্ট
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/center.html"
              >সেন্টার</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/online-batch.html"
              >অনলাইন ব্যাচ</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/more.html"
              >আরো</a
            >
          </li>
        </ul>
        <!-- nav actions -->
        <div class="d-flex align-items-center gap-5">
          <div class="position-relative" style="min-width: 30px">
            <div class="position-absolute top-0 start-100 translate-middle">
              <span class="badge rounded-pill text-bg-primary">10</span>
            </div>

            <i data-lucide="shopping-cart"></i>
          </div>
          <button class="btn btn-primary">লগইন</button>
        </div>
      </div>
    </div>
  </nav>