// Custom variables
$primary: #4F419A;
$dark: #081922;

// Import Bootstrap with overrides
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Override Bootstrap's theme colors
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "dark": $dark
));

// Import the rest of Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Custom dark mode styles
[data-bs-theme="dark"] {
  --bs-body-color: #adb5bd;
  --bs-body-bg: #{$dark};
  --bs-primary-rgb: #{to-rgb($primary)};
  --bs-link-color: #{$primary};
  --bs-link-hover-color: #{lighten($primary, 15%)};
}

[data-bs-theme="light"] {
  --bs-body-color: #{$dark};
  --bs-body-bg: #ffffff;
  --bs-primary-rgb: #{to-rgb($primary)};
  --bs-link-color: #{$primary};
  --bs-link-hover-color: #{darken($primary, 15%)};
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// Custom styles for navbar
.navbar {
  background-color: var(--bs-body-bg) !important;
  
  .navbar-brand, .nav-link {
    color: var(--bs-body-color);
    
    &:hover, &:focus {
      color: var(--bs-link-hover-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.brand-logo {
  width: 63px;
  height: 48px;
}